{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "store": "./src/store",
          "styles": "./src/styles",
          "actions": "./src/store/actions",
          "reducers": "./src/store/reducers",
          "selectors": "./src/store/selectors",
          "lang": "./src/lang",
          "modules": "./src/modules",
          "assets": "./src/assets",
          "configs": "./src/configs",
          "services": "./src/services",
          "components": "./src/components"
        }
      }
    ]
  ]
}
